{% extends "layout.html" %}
{% block content %}  
<div class="row justify-content-center">
    <!-- Intro News Tabs Area -->
    <div class="col-12 col-lg-8">
        <div class="intro-news-tab">
            <!-- Intro News Filter -->
            <div class="intro-news-filter d-flex justify-content-between">
                <h6>Résultats</h6>
            </div>

            <div class="tab-content">
                <div>
                    <div class="row">
                        <span id="erreur" class="erreur_class"></span>
                        <div id="section_resultat">
                            <!-- <span id="erreur" class="erreur_class"></span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sidebar Widget -->
    <div class="col-12 col-sm-9 col-md-6 col-lg-4">
        <div class="sidebar-area">

            <!-- Newsletter Widget -->
            <div class="single-widget-area newsletter-widget mb-30">
                <h4>Rechercher des contrevenants </h4>
                <form action="/recherche" method="post">
                    <input type="search" name="nl-search" id="nlsearch" placeholder="Entrez vos Mots clés">
                    <div class="form-group">
                        <label for="filter">Filtrer par:</label> <br><br>
                        <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-default active">
                            <input type="radio" name="options" id="nom" value="nom" checked> Nom d’établissement
                          </label>
                          <label class="btn btn-default">
                            <input type="radio" name="options" id="proprietaire" value="proprietaire"> Propriétaire
                          </label>
                          <label class="btn btn-default">
                            <input type="radio" name="options" id="rue" value="rue"> Rue
                          </label>
                        </div>
                    </div>
                    <button type="submit" class="btn newsbox-btn w-100">Rechercher</button>
                </form>
                <p class="mt-30">Vous devez choisir le filtre que vous voulez appliquer sur la recherche que vous voulez effectuer.</p>
            </div>

            <!-- <div class="single-widget-area newsletter-widget mb-30">
                <h4>Recherche par Date </h4>
                <form id="recherche_dates">
                    <input type="search" name="du" id="date_du" placeholder="Date de début">
                    <input type="search" name="au" id="date_au" placeholder="Date de Fin">
                    <button type="submit" class="btn newsbox-btn w-100">Rechercher</button>
                </form>
                <p class="mt-30">Veuillez fournir deux dates afin d'identifier les contrevenants qui sont survenues entre ces deux dates.</p>
            </div> -->

            <div class="single-widget-area newsletter-widget mb-30">
                <h4>Recherche par Date </h4>
                <form id="recherche_dates">
                    <input type="search" name="du" id="date_du" placeholder="Date de début">
                    <input type="search" name="au" id="date_au" placeholder="Date de Fin">
                    <button type="submit" class="btn newsbox-btn w-100">Rechercher</button>
                </form>
                <p class="mt-30">Veuillez indiquer deux dates afin d'identifier les contrevenants qui sont survenues entre ces deux dates.</p>
            </div>

            <div class="single-widget-area newsletter-widget mb-30">
                <h4>Recherche par établissements </h4>
                <form id="recherche_nom">
                    <div class="form-group">
                        <select class="form-control" id="recherche_etablsmnt">
                            {% if not etablissements_liste %}
                                <option value="{{ aucun }}">Auncun</option>
                            {% else %}
                                {% for etablsmnt in etablissements_liste %}
                                    <option id="id_etablissement" value="{{ etablsmnt.nom }}">{{ etablsmnt.nom }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                      </div>
                    <button type="submit" class="btn newsbox-btn w-100">Rechercher</button>
                </form>
                <p class="mt-30">Veuillez séléctionner un établissement pour avoir ses différentes infractions.</p>
            </div>

        </div>
    </div>
</div>
<script src="vendor/js/script.js"></script>
{% endblock %}
