{% extends "layout.html" %}
{% block content %}  
<div class="row justify-content-center">
    <!-- Intro News Tabs Area -->
    <div class="col-12 col-lg-8">
        <div class="intro-news-tab">

            <!-- Intro News Filter -->
            <div class="intro-news-filter d-flex justify-content-between">
                <h6>Articles</h6>
            </div>

            <div class="tab-content">
                <div>
                    <div class="row">
                        {% if not etas %}
                            <p>Aucun etablissement trouvé.</p>
                        {% else %}
                            {% for eta in etas %}
                                <div class="col-12 col-sm-12 cadre">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <div class="blog-content">
                                            <a href="" class="post-title">{{ eta.id }}</a>
                                            <span class="post-date">{{ eta.nom }} Par {{ eta.proprietaire }}</span>
                                        </div>
                                        <div>
                                            <div class="row">
                                                <div class="col-3 col-sm-3">
                                                    <a href="" class="texte_min_article"><img src="img/20.jpg" alt=""></a>
                                                </div>
                                                <div class="col-9 col-sm-9">
                                                    <p>{{ eta.adresse}} ...</p>
                                                    <p>{{ eta.ville}} ...</p>
                                                    <p>{{ eta.statut}} ...</p>
                                                </div>
                                            </div>                 
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sidebar Widget -->
    <div class="col-12 col-sm-9 col-md-6 col-lg-4">
        <div class="sidebar-area">

            <!-- Newsletter Widget -->
            <div class="single-widget-area newsletter-widget mb-30">
                <h4>Rechercher des articles </h4>
                <form action="/recherche" method="post">
                    <input type="search" name="nl-search" id="nlsearch" placeholder="Entrez vos Mots clés">
                    <button type="submit" class="btn newsbox-btn w-100">Rechercher</button>
                </form>
                <p class="mt-30">Le texte entré dans ce champ va être recherché dans tous les titres et paragraphes connus du CMS.</p>
            </div>

        </div>
    </div>
</div>
{% endblock %}
