{% extends "layout.html" %}
{% block content %}  
<div class="row justify-content-center">
    <!-- Intro News Tabs Area -->
    <div class="col-12 col-lg-8">
        <div class="intro-news-tab">

            <!-- Intro News Filter -->
            <div class="intro-news-filter d-flex justify-content-between">
                <h6>Poursuites</h6>
            </div>

            <div class="tab-content">
                <div>
                    <div class="row">
                        {% if not poursuites %}
                            <p>Aucun etablissement trouvé.</p>
                        {% else %}
                            {% for poursuite in poursuites %}
                                <div class="col-12 col-sm-12 cadre">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <div class="blog-content">
                                            <a href="" class="post-title">{{ poursuite.id }}</a>
                                            <span class="post-date">{{ poursuite.id }} Par {{ poursuite[0]}}</span>
                                        </div>
                                        <div>
                                            <div class="row">
                                                <div class="col-3 col-sm-3">
                                                    <a href="" class="texte_min_article"><img src="img/20.jpg" alt=""></a>
                                                </div>
                                                <div class="col-9 col-sm-9">
                                                    <p>{{ poursuite[0]}} ...</p>
                                                    <p>{{ poursuite[0]}} ...</p>
                                                    <p>{{ poursuite[0]}} ...</p>
                                                </div>
                                            </div>                 
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sidebar Widget -->
    <div class="col-12 col-sm-9 col-md-6 col-lg-4">
        <div class="sidebar-area">

            <!-- Newsletter Widget -->
            <div class="single-widget-area newsletter-widget mb-30">
                <h4>Rechercher des contrevenants </h4>
                <form action="/recherche" method="post">
                    <input type="search" name="nl-search" id="nlsearch" placeholder="Entrez vos Mots clés">
                    <div class="form-group">
                        <label for="filter">Filtrer par:</label> <br><br>
                        <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-default active">
                            <input type="radio" name="options" id="nom" value="nom" checked> Nom d’établissement
                          </label>
                          <label class="btn btn-default">
                            <input type="radio" name="options" id="proprietaire" value="proprietaire"> Propriétaire
                          </label>
                          <label class="btn btn-default">
                            <input type="radio" name="options" id="rue" value="rue"> Rue
                          </label>
                        </div>
                    </div>
                    <button type="submit" class="btn newsbox-btn w-100">Rechercher</button>
                </form>
                <p class="mt-30">Vous devez choisir le filtre que vous voulez appliquer sur la recherche que vous voulez effectuer.</p>
            </div>

        </div>
    </div>
</div>
{% endblock %}
