{% extends "layout.html" %}
{% block content %}  
<div class="row justify-content-center">
    <!-- Intro News Tabs Area -->
    <div class="col-12 col-lg-12">
        <div class="intro-news-tab">

            <!-- Intro News Filter -->
            <div class="lien">
                <a href="/admin-nouveau"> <span class="fas fa-plus"></span> Ajouter un Article</a>
            </div>
            <div class="intro-news-filter d-flex justify-content-between">
                <h6>Articles</h6>
            </div>

            <div class="tab-content">
                <div>
                    <div class="row">
                        {% if not articles %}
                            <p>Aucun article trouvé.</p>
                        {% else %}
                            {% for article in articles %}
                                <!-- Single News Area -->
                                <div class="col-12 col-sm-12 cadre">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <h3>{{ article.titre }}</h3>
                                            <span class="post-date">Publié le : {{ article.date }}</span>
                                            <a href="/modifier-article/{{article.id}}" class="btn btn-primary bouton placement">Modifier l'article</a>
                                            <!-- <button class="btn btn-primary bouton">
                                                <a href="/modifier-article/{{article.id}}" class="post-title">Modifier l'article</a>
                                            </button> -->
                                        </div>
                                    </div>
                                </div> 
                            {% endfor %}  
                        {% endif %}   
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}
