{% extends "layout.html" %}
{% block content %}  
<div class="row justify-content-center">
    <!-- Intro News Tabs Area -->
    <div class="col-12 col-lg-12">
        <div class="intro-news-tab">

            <!-- Intro News Filter -->
            <!-- <div class="lien">
                <a href="/admin_nouveau"> <span class="fas fa-plus"></span> Ajouter un Article</a>
            </div> -->
            <div class="intro-news-filter d-flex justify-content-between">
                <h6>Formulaire de création d'article</h6>
            </div>

            <div class="tab-content">
                <div>
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            {% if error %}
                                <p class="erreur_class">{{error}}.</p>
                            {% endif %}

                            {% if donnees_entrees %}
                                {% set titre = donnees_entrees['titre'] %}
                                {% set auteur = donnees_entrees['auteur'] %}
                                {% set date = donnees_entrees['date'] %}
                                {% set article = donnees_entrees['paragraphe'] %}
                                {% set identifiant = donnees_entrees['identifiant'] %}
                            {% else %}
                                {% set titre = "" %}
                                {% set auteur = "" %}
                                {% set date = "AAAA-MM-JJ" %}
                                {% set article = "" %}
                                {% set identifiant = "" %}
                            {% endif %}
                            <form action="/envoyer" method="post">
                                <div class="form-group">
                                  <label for="titre">Titre</label>
                                  <input type="text" class="form-control" id="titre" name="titre" placeholder="Titre" value="{{titre}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="auteur">Auteur</label>
                                    <input type="text" class="form-control" id="auteur" name="auteur" placeholder="Auteur" value="{{auteur}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="date_publication">Date</label>
                                    <input type="date" class="form-control" id="date_publication" name="date_publication" placeholder="AAAA-MM-JJ"  value="{{date}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="id_article">identifiant de l'article</label>
                                    <input type="text" class="form-control" id="id_article" name="id_article" placeholder="identifiant" value="{{identifiant}}" required>
                                </div>
                                <div class="form-group">
                                  <label for="article">Texte de l'article</label>
                                  <textarea class="form-control" id="article" name="article" rows="6" required>{{article}}</textarea>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                      <button type="submit" class="btn btn-primary bouton">Ajouter</button>
                                    </div>
                                </div>
                              </form>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}
